/* .mb {
    margin-top: 5rem;
  } */
  .card-body {
    padding: 0;
  }
  .card {
    padding: 10px;
    margin: 12px 5px;
    border-radius: 18px;
  }
  .card img {
    border-radius: 18px;
  }
  span {
    color: #b0b0b0;
    font-weight: 500;
  }
  .card-body h5 {
    font-weight: 700;
    cursor: pointer;
  }
  .star i {
    color: goldenrod;
  }
  .pri {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .price h4 {
    color: darkgreen;
  }
  .cart {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    background-color: rgb(182, 227, 182);
    transition: 0.4s;
    cursor: pointer;
  }
  .cart:hover {
    color: rgb(182, 227, 182);
    background-color: darkgreen;
  }
  .card img{
    width: 298px;
    height: 298px;
    object-fit: cover;
  }
  .bor{
    width: 300px;
    height: 300px;
    border-radius: 18px;
    background-color: #b0b0b0;
  }