*{
    list-style: none;
  }
  .slider-section{
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-04-2020/sprystore-liberty-demo_Free/1528800197/web/assets/images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
  }
  .slider-up-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px 5px 12px;
  }
  .slider-left{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .slider-left a{
    text-decoration: none;
  }
  .slider-left h6{
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 700;
    color: white;
  }
  .slider-left a{
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  .slider-left a span{
    color: #ff7315;
  }
  .slider-left a span i{
    color: white;
  }
  .slider-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .slider-right .user-icon{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, .141);
  }
  .user-icon i{
    font-size: 18px;
  }
  .my-cart h4{
    font-size: 18px;
    margin-bottom: 0px;
    color: white;
  }
  .my-cart{
    width: 120px;
    height: 37px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .141);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-dn-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px;
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  .logo a{
    text-decoration: none;
    font-size: 34px;
    font-weight: 700;
    color: white;
  }
  .logo a span{
    color: #ff7315;
  }
  .search-box{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
  }
  .search-box h5{
    margin-bottom: 0px;
  }
  nav ul{
   display: flex;
   align-items: center;
   gap: 10px;
   color: white;
   margin-bottom: 0px;
   font-weight: 600;
  }
  nav ul li a{
    text-decoration: none;
    transition: .4s;
    color: white;
  }
  nav ul li a:hover{
    color: #ff7315;
  }
  nav ul li{
    padding: .375rem .75rem;
    transition: .4s;
  }
  nav ul .btn{
    color: white;
    transition: .4s;
   font-weight: 600;
  }
  nav ul .btn:hover{
    color: #ff7315;
  }
  .slider-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:7rem 0 4rem 0;
  }
  .slider-text h1{
    font-weight: 700;
    color: white;
  }
  .slider-text a{
    color: white;
    text-decoration: none;
  }
  .fa-angles-right:before {
    content: "\f101";
    color: white;
  }
  .btntn{
    display: none !important;
  }
  .dropdown button{
    border: none;
  }
  @media screen and (max-width:576px) {
    nav ul{
      display: none;
    }
    .slider-left{
      display: none;
    }
    .slider-right {
      display: flex;
      align-items: center;
      position: relative;
    }
    .my-cart{
      position: absolute;
      top: 0;
      right: -27rem;
    }
    .search-box h5{
      display: none;
    }
    .logo{
      gap: 7.5rem;
    }
    .logo1{
      gap: 7.5rem;
    }
    .logo a{
      font-size: 30px;
    }
    .logo1 a{
      font-size: 30px;
      text-decoration: none;
      font-size: 34px;
      font-weight: 700;
      color: black !important;
    }
    .btntn{
      display: block !important;
    }
    .offcanvas{
      max-width: 80%;
      /* background-color: #cd641f; */
    }
    .dropdown-menu{
      background-color: #666;
    }
    .dropdown-menu a{
      text-decoration: none;
      font-size: 16px;
    }
    .offcanvas-body span a{
      font-size: 16px !important;
      color: #232020 !important;
    }
    .offcanvas-body{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .btn-group button{
      border: none;
      text-align: left;
      font-weight: 700;
    }
  }
  /* ==============slider end========= */
 
  /* ===============Blog sec-1 start=========== */
.padd{
    padding: 0 19rem;
}
  .img-box{
text-align: center;
}
.img-box img{
    width: 700px; 
}
.but button a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-blue{
    background-color: rgba(0, 0, 255, 0.751);
    transition: .4s;
}
.btn-blue:hover{
    background-color:blue;
}
.but a{
    text-decoration: none;
    color: white;
}
.big-w{
    position: relative;
}
p{
    margin: 0;
}
p span {
 font-size: 50px;
 font-weight: 800;
 position: absolute;
 top: -14px;
 left: -7px;
}
.par{
    position: absolute;
    top: 50px;
    left: -10px;
}
.lf img{
    width: 100%;
    border-radius: 6px;
}
.ri img{
    width: 100%;
    border-radius: 6px;    
}
.ma{
    margin-top: 7rem;
    margin-bottom: 1.8rem;
}
.bla-c{
    background-color: rgba(0, 0, 0, 0.84);
    padding: 30px 30px;
    color: white;
    border-radius: 6px;
}
.bla-c span{
    color: #ff7315;
    font-size: 50px;
}
.bla-c h6{
    color: #ff7315;
    font-weight: 700;
    text-align: right;
}
.img-l img{
  width: 100%;
  border-radius: 6px;
}
.main-box{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 6px;
}
.text-r h5{
  transition: .4s;
}
.text-r h5:hover{
  color: #ff7315;
}
.social-icon{
  display: flex;
  gap: 15px;
}
.social-icon span{
  transition: .4s;
}
.social-icon span:hover{
  color: #ff7315;
}
.name{
  display: flex;
  flex-direction: column;
}
.email{
  display: flex;
  flex-direction: column;
}
input{
  color: #666;
  padding: 10px 15px;
  border: 2px solid #232020;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  border-radius: 6px;
}
label{
  color: #3a3535;
  font-weight: 600;
  margin-bottom: 8px;
}
.comm{
  display: flex;
  flex-direction: column;
}
.com-box{
  display: flex;
  flex-direction: column;
}
.com-box textarea{
  resize: none;
  border: 2px solid #232020;
  border-radius: 6px;
  padding: 10px 15px;
}
form button{
  padding: 12px 25px;
  border-radius: 6px;
  border: none;
  background-color: #ff7315;
  transition: .4s;
}
form button:hover{
  background-color: #232020;
}
form button a{
  text-decoration: none;
  font-weight: 700;
  color: white;
}
form button a:hover{
  color: white;
}
.form-box h3{
  font-size: 40px;
  line-height: 20px;
  font-weight: 700;
}
.form-box h3 span{
  color: #ff7315;
}
.form-box p{
  color: #3a3535;
  font-weight: 600;
}
@media screen and (max-width:576px) {
  .padd{
    padding: 0 0rem;
}
.img-box img{
  width: 100%; 
}
p span {
  font-size: 50px;
  font-weight: 800;
  position: absolute;
  top: -14px;
  left: -7px;
 }
 .par{
     position: absolute;
     top: 6rem;
     left: -10px;
 }
}
  /* =============Blog sec-1 end============== */
  /* footer sec start */ 
.B-g{
    background-color: #232020;
    padding: 3rem 0;
  }
  .footer-sec-box{
    padding: 0 15px;
  }
  .footer-sec-box h2{
    color: white;
    font-size: 30px;
  }
  .footer-sec-box span{
    color: #ff7315;
  }
  .footer-sec-box p{
    color: #a09292;
  }
  .I-C-O-N-S{
    display: flex;
    gap: 20px;
  }
  .fb{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .tw{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .g{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .in{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .footer-sec-box-2{
    padding: 0 15px;
  }
  .footer-sec-box-2 h3{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .sub-coulmn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 60px;
  }
  .sub-coulmn h6{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 20px;
  }
  .footer-ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 0 !important;
  }
  .ul{
    padding-left: 0;
  }
  .ul li{
    padding: 5px 0;
  }
  .footer-ul ul{
    text-align: left;
  }
  .footer-ul li{
    color: #a09292;
  }
  .sub-two-right p{
    color: #a09292;
  }
  @media screen and (max-width:500px) {
    .footer-sec-box-2 h3{
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  /* footer sec end */
