*{
  list-style: none;
}
.slider-section{
  background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-04-2020/sprystore-liberty-demo_Free/1528800197/web/assets/images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
}
.slider-up-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px 5px 12px;
}
.slider-left{
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider-left a{
  text-decoration: none;
}
.slider-left h6{
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 700;
  color: white;
}
.slider-left a{
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.slider-left a span{
  color: #ff7315;
}
.slider-left a span i{
  color: white;
}
.slider-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider-right .user-icon{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, .141);
}
.user-icon i{
  font-size: 18px;
}
.my-cart h4{
  font-size: 18px;
  margin-bottom: 0px;
  color: white;
}
.my-cart{
  width: 120px;
  height: 37px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .141);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-dn-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 5rem;
}
.logo a{
  text-decoration: none;
  font-size: 34px;
  font-weight: 700;
  color: white;
}
.logo a span{
  color: #ff7315;
}
.search-box{
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
.search-box h5{
  margin-bottom: 0px;
}
nav ul{
 display: flex;
 align-items: center;
 gap: 10px;
 color: white;
 margin-bottom: 0px;
 font-weight: 600;
}
nav ul li a{
  text-decoration: none;
  transition: .4s;
  color: white;
}
nav ul li a:hover{
  color: #ff7315;
}
nav ul li{
  padding: .375rem .75rem;
  transition: .4s;
}
nav ul .btn{
  color: white;
  transition: .4s;
 font-weight: 600;
}
nav ul .btn:hover{
  color: #ff7315;
}
.slider-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:7rem 0 4rem 0;
}
.slider-text h1{
  font-weight: 700;
  color: white;
}
.slider-text a{
  color: white;
  text-decoration: none;
}
.fa-angles-right:before {
  content: "\f101";
  color: white;
}
.btntn{
  display: none !important;
}
@media screen and (max-width:576px) {
  nav ul{
    display: none;
  }
  .slider-left{
    display: none;
  }
  .slider-right {
    display: flex;
    align-items: center;
    position: relative;
  }
  .my-cart{
    position: absolute;
    top: 0;
    right: -27rem;
  }
  .search-box h5{
    display: none;
  }
  .logo{
    gap: 7.5rem;
  }
  .logo a{
    font-size: 30px;
  }
  .btntn{
    display: block !important;
  }
  .offcanvas{
    max-width: 80%;
    /* background-color: #cd641f; */
  }
  .dropdown-menu{
    background-color: #666;
  }
  .dropdown-menu a{
    text-decoration: none;
    font-size: 16px;
  }
  .offcanvas-body span a{
    font-size: 16px !important;
    color: #232020 !important;
  }
  .offcanvas-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .btn-group button{
    border: none;
    text-align: left;
    font-weight: 700;
  }
}
  /* ==========Products desp start========= */
  .img-left-box{
    overflow: hidden;
    height: auto;
    padding: 0 15px;
  }
  .img-left-box img{
    border-radius: 6px;
  }
  .desp-right-box{
    padding: 0 15px;
  }
  .desp-right-box h3{
    font-size: 32px;
    font-weight: 700;
  }
  .xzoom{
    margin-bottom: 10px;
    width: auto;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
  }
  .star-pri-box{
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .star-pri-box h6{
    margin-bottom: 0px;
    font-size: 22px;
    color: #ff7315;
  }
  .star-pri-box span{
    text-decoration: line-through;
    font-size: 22px;
    color: #6b778d;
  }
  .star-pri-box p{
    margin-bottom: 0px;
    font-size: 22px;
  }
  .star-pri-box .star{
    font-size: 12px;
    display: flex;
    gap: 5px;
    transition: .4s;
  }
  .star-pri-box .star:hover{
    color: #ff7315;
  }
  .price-off{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: #6b778d;
  }
  .price-off span{
    color: #6b778d;
    font-weight: 700;
  }
  h6{
    font-size: 22px;
    font-weight: 700;
  }
  .des-p{
    color: #6b778d;
    line-height: 30px;
  }
  h5{
    font-size: 16px;
    font-weight: 700;
  }
  .xzoom-gallery{
    margin-right: px;
  }
  .xzoom-thumbs{
    margin-right: 6px;
  }
 form{
    background-color: black;
    border-radius: 20px;
 }
 form input{
    padding: 14px 20px;
    width: 70%;
    border-radius: 20px 0px 0 20px;
    background-color: #6b778dbb;
    border: none;
 }
 form ::placeholder{
    color: aliceblue;
 }
 form button a{
    text-decoration: none;
    color: #ff7315;
    padding: 8px 60px 10px 60px;
    transition: .4s;
 }
.A-B-btn{
    display: flex;
    align-items: center;
    gap: 28px;
}
.A-B-btn a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.add-c{
    width: 50%;
    background-color: black;
    padding: 12px 30px;
    border-radius: 28px;
    text-align: center;
    transition: .4s;
}
.add-c:hover{
    background-color: #ff7315;
}
.buy-c{
    width: 50%;
    background-color: #ff7315;
    padding: 12px 30px;
    border-radius:28px;
    text-align: center;
    transition: .4s;
}
.buy-c:hover{
    background-color: black;
}
@media screen and (max-width:576px) {
.desp-right-box{
  padding-top:20px ;
}  
form input{
  width: 60%;
}
form button{
  width: 30%;
}
}
  /* ==========Products end============= */
  /* cloth section start */
* {
    list-style: none;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 span {
    color: rgb(230, 136, 22);
  }

  p {
    letter-spacing: 1px;
  }
  .shop-img-box {
    position: relative;
    overflow: hidden;
  }

  .img-sec-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .img-sec-box {
    position: relative;
    overflow: hidden;
  }
  .box-1-ol {
    overflow: hidden;
    transition: 0.6s;
  }
  .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s ease-in-out;
    border-radius: 8px ;
    transition: .6s;
  }
  .img-1 {
    border-radius: 8px;
  }
  .box-1-ol:hover .img-2 {
    opacity: 1;
  }
  .img-name {
    width: 100% ;
    position: absolute;
    bottom: -10px;
    left: 0px;
    transition: 0.6s;
    padding: 8px 1rem;
    background-color: black;
    /* color: white; */
    display: none;
  }

  .box-1-ol:hover .img-name {
    bottom: 0px;
    display: block;
    transition: 0.6s;
    border-radius: 0 0px 8px 8px;
  }
  .img-name a {
    /* font-size: 18px; */
    text-decoration: none;
    color: white;
    font-weight: 400;
  }

  .img-name:hover {
    color: white;
    background-color: rgb(210, 128, 46);
  }
  .para {
    font-weight: 600;
  }
  .para-1 span {
    color: #707070;
    text-decoration: line-through;
    padding: 0 10px;
    font-weight: 200;
  }
  .para-1 {
    font-weight: 600;
  }
  .img-icon {
    position: absolute;
    top: 150px;
    right: 0px;
    transform: translateX(100px);
    transition: all 0.6s ease-in;
  }
  .img-icon .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .i-1 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.457);
  }
  .i-1:hover {
    color: white;
    background-color: rgb(216, 139, 62);
  }
  .i-2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.457);
  }
  .i-2:hover {
    color: white;
    background-color: rgb(216, 139, 62);
  }
  .box-1-ol:hover .img-icon {
    transform: translateX(0);
    right: 30px;
  }
  /* boostrap btn */
  .but-n{
    display: flex;
    gap: 10px;
  }
  .but-n button{
    padding: 12px 35px;
    border-radius: 18px;
    border: none;
  }
  .bll{
    background-color: #121111;
    transition: .4s;
  }
  .bll a{
    color: white;
    font-weight: 700;
    font-size: 14px;
  }
  .bll:hover{
    background-color: #ff7315;
  }
  .orr{
    background-color: #ff7315;
    transition: .4s;
  }
  .orr:hover{
    background-color: #121111;
  }
  .orr a{
    color: white;
    font-weight: 700;
    font-size: 14px;
  }
  .but-n button a{
    text-decoration: none;
  }
  .bag-desp{
    display: flex;
    align-items: center;
    background-color: #f5f0f0;
    border-right: 5px solid #a09292;
    justify-content: space-between;
    border-radius: 3px;
  }
.prii input{
  width: 40px;
}
.prii h5{
  font-size: 14px;
}
.parr h5{
  font-size: 16px;
  font-weight: 700;
}
.tott{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.che span{
color: #ff7315;
}
/* boostrap btn */
  @media screen and (max-width: 576px) {
    .img-name {
      width: 100%;
      position: absolute;
      bottom: -40px;
      left: 0px;
      transition: 0.6s;
      padding: 8px 0rem;
      background-color: black;
      /* color: white; */
      display: none;
    }
    .img-icon {
      position: absolute;
      top: 100px;
      right: 0px;
      transform: translateX(100px);
      transition: all 0.6s ease-in;
    }
    .box-1-ol:hover .img-icon {
      transform: translateX(0);
      right: 10px;
    }
    .i-1{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 12px;
    }
    .i-2{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 12px;
    }
  }
/* cloth section end */
  /* =========Footer section start========= */
.B-G{
    background-color: #232020;
    margin-top: 4rem;
    padding: 3rem 0;
  }
  .footer-sec-box{
    padding: 0 15px;
  }
  .footer-sec-box h2{
    color: white;
    font-size: 30px;
  }
  .footer-sec-box p{
    color: #a09292;
  }
  .I-C-O-N-S{
    display: flex;
    gap: 20px;
  }
  .fb{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .tw{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .g{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .in{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3a3535;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .footer-sec-box-2{
    padding: 0 15px;
  }
  .footer-sec-box-2 h3{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .sub-coulmn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 60px;
  }
  .sub-coulmn h6{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 20px;
  }
  .footer-ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 0 !important;
  }
  .ul{
    padding-left: 0;
  }
  .ul li{
    padding: 5px 0;
  }
  .footer-ul ul{
    text-align: left;
  }
  .footer-ul li{
    color: #a09292;
  }
  .sub-two-right p{
    color: #a09292;
  }
  .footer-sec-box h2 span{
    color: #ff7315;
  }
  @media screen and (max-width:500px) {
    .footer-sec-box-2 h3{
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .cloth{
    padding: 3rem 0;
  }
  
  /*======Footer sec end===========  */