* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  html {
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Montserrat", sans-serif;
  }
  :root {
    --primary-color: rgb(231, 5, 102);
    --secondary-color: #1a2c79;
    --gradient-color: linear-gradient(75deg, #1c2e7b 10%, #e60264);
    --gradient-color-opacity: linear-gradient(75deg, #1c2d7bb5 10%, #e60265c4);
  }
  @media screen and (max-width: 578px) {
    .container {
      width: 100%;
    }
  }
  @media screen and (min-width: 578px) {
    .container {
      width: 540px;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      width: 740px;
    }
  }
  @media screen and (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }
  @media screen and (min-width: 1400px) {
    .container {
      width: 1360px;
    }
  }
  .section {
    width: 100%;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 1rem;
  }
  /* header start */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  .top-header nav ul {
    display: flex;
    font-size: 1.4rem;
    gap: 1rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  .logo h1 {
    font-size: 3.2rem;
    font-weight: 800;
    color: white;
    transition: 0.6s;
  }
  .logo h1 span{
    color: transparent;
    -webkit-background-clip: text;
    background-image: var(--gradient-color);
}
  .logo h1:hover {
    color: #e80566;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  .top-header nav ul li {
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    position: relative;
    color: white;
  }
  .top-header nav ul li i {
    color: white;
  }
  .menu{
    width: 180px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem 2rem;
    position: absolute;
    top: 100%;
    left: 0px;
    transition: .2s;
    visibility: hidden;
  }
  .menu .list a{
    color: #111;
  }
  .sub-list:hover .menu{
    visibility: visible;
  }
  .top-header nav ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    height: 0.2rem;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: 0.6s;
    transform: scale(0);
  }
  
  .top-header nav ul li.list:hover::before {
    width: 100%;
    transform: scale(1);
  }
  
  .top-header nav ul li:hover {
    color: var(--primary-color);
  }
  .menu-button {
    display: none;
  }
  #click{
    display: none;
  }
.top-section{
    background-image: var(--gradient-color-opacity), url(../img/inner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-land-main{
min-height: 200px;
text-align: center;
display: flex;
flex-direction: column;
gap: 2rem;
padding: 12rem 0;
}
.header-scroll{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .6s;
  z-index: 55;
}
.scroll{
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.226);
  z-index: 55;
}
.night_toggle {
  width: 20px;
  height: 20px;
  right: 25px;
  top: 10px;
  position: absolute;
}
.night_toggle:hover {
  cursor: pointer;
}
.moon {
  background-color: transparent;
  box-shadow: -6px 1px 0 3px #ebeff2;
  border-left: 1px solid #e3e7eb;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 8px;
  margin-top: 0;
  transition: 2s;
}
.sun {
  background-color: transparent;
  box-shadow: 2px 0 0 1px #d19c29;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: 2s;
}
.about-land-box h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
}
.about-land-ancher a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}
.about-land-ancher i{
    font-size: 1.2rem;
    color: white;  
}
.about-land-ancher{
    display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}
.about-land-ancher .first-a{
    font-weight: 800;
}
  /* header end */
  @media screen and (max-width: 768px) {
    .top-header nav ul {
      display: block;
      position: fixed;
      top: 80px;
      left: -100%;
      background-color: #111;
      height: 100vh;
      width: 100%;
      display: block;
      text-align: center;
      transition: all 0.4s ease;
    }
    
    #click:checked ~ nav ul  {
      left: 0%;
    }
    #click:checked ~ .menu-button i::before {
      content: "\f00d";
    }
    .menu-button {
      padding: 0 5rem;
      font-size: 3rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: rgb(255, 255, 255);
      display: block;
      margin-left: auto;
    }
    .top-header nav ul {
      display: flex;
      flex-direction: column;
     padding: 8rem 0;
      gap: 4rem;
     
    }
    .top-header nav ul li::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      height: 0.2rem;
      background-color: var(--primary-color);
      bottom: -100%;
      left: -100%;
      transition: 0.6s;
      transform: scale(0);
    }
      a:hover, a.active{
      color: var(--gradient-color-opacity-color);
    }
    .top-section {
      width: 100%;
    }
  
    .landing-desp-main .landing-desp-box {
      width: 100%;
    }
  }
  /* contact section start */
  .contact-section-box{
      width: 90%;
      margin: 0 auto;
  }
  .section-title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
    padding: 8rem 0 3rem 0;
  }
  .section-title h2 {
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
  }
  .section-title p {
    line-height: 3rem;
    font-size: 1.4rem;
    color: #8f8f8f;
  }
  .con-main-box{
   display: flex; 
   gap: 2rem; 
   width: 100%; 
   padding-bottom: 4rem;
}
  .box1{
      background-color: #eee;
      padding: 2.4rem;
      display: flex;
      gap: 2rem;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  }
  .icon-box{
      width: 50px;
      height: 50px;
      background-color: #e80566;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
  }
  .icon-box i{
      font-size: 1.6rem;
  }
  .desp-text{
      display: flex;
      flex-direction: column;
      gap: .6rem;
  }
  .desp-text h3{
     font-size: 2rem; 
  }
  .desp-text span{
      color:#8f8f8f;
      font-size: 1.2rem;
  }
  form{
    /* margin: 2rem 0; */
    padding: 5rem;
  }
  form .detail{
    display: flex;
    gap: 2rem;
  }
  .detail input{
    width: 100%;
    padding: 18px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: rgb(199, 199, 199);
    margin:1rem 0;
  }
  .comment textarea{
    width: 100%;
    padding: 18px;
    border: 1px solid #eee;
  }
  .right-btn{
    text-align: right;
    margin: 1rem 0;
   
  }
  .right-btn button{
   padding: 12px 30px;
   font-size: 14px;
   font-weight: 600;
   color: white;
   border: none;
   border-radius: 4px;
   background-color: #e80566;
   border: 1px solid #e80566;
   transition: .6s;
  }
  .right-btn button a{
    text-decoration: none;
    color: white;
  }
  .right-btn button:hover a{
    color: #e80566;
  }
  .right-btn button:hover{
    background-color: transparent;
  }
  .map iframe{
      width: 100%;
      min-height: 400px;
      margin: .8rem 0;
  }
  @media screen and (max-width:768px) {
    .section-title{
      width: 100%;
    }
    .section-title p{
      line-height: 2.2rem;
    }
    .con-main-box{
      display: flex; 
      flex-direction: column;
      gap: 2rem; 
      width: 100%; 
      padding-bottom: 4rem;
   }
   form .detail{
     width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
   }
   form{
     padding: 3rem;
   }
  }
  /* contact section end */
  /* footer start */

footer {
    background-image: var(--gradient-color);
    color: white;
  }
  
  .footer-section-container {
    display: grid;
    padding: 6rem 0;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .footer-section-box h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  
  .footer-section-box ul {
    font-size: 1.2rem;
    color: #bebcbc;
  }
  
  .footer-section-box ul li {
    line-height: 3rem;
  }
  
  .footer-section-box ul li i {
    margin-right: 1rem;
  }
  
  .footer-section-box .info {
    font-size: 1.4rem;
    color: white;
    line-height: 3.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .footer-section-container {
      display: grid;
      grid-template-columns: repeat(2, 220px);
      /* padding: 0 6rem; */
    }
    .footer-section-box ul {
      line-height: 3rem;
      padding: 2rem 0;
    }
    .footer-section-box h2 {
      font-size: 1.8rem;
      /* margin-bottom: 1rem; */
    }
  }
  
  /* footer end */
  .copyright-section {
    padding: 2rem 0;
  }
  .copy-right-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copy-box p {
    font-size: 1.3rem;
    color: #707070;
    font-weight: 800;
  }
  .copy-box span {
    color: black;
  }
  .copy-icons {
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
  }
  .copy-icons i {
    color: white;
  }
  .space {
    padding: 0.6rem 0.6rem;
    background-color: var(--secondary-color);
    border-radius: 0.4rem;
  }